@import '~styles/colors';

.Wrapper {
  text-align: center;
  margin-bottom: 15px;

  :global(.label) {
    background: $natus-red;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 20px;
    display: block;
    margin: 8px 0;
    white-space: inherit;
  }
}
