@import '~styles/colors';

.Wrapper {
  padding: 5px 0;

  &:global(.navbar) {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    background: $natus-black;
  }

  :global(.navbar-brand img) {
    height: 20px;
  }

  :global(.nav li a) {
    color: white!important;

    :global {
      .label {
        background: $natus-yellow;
        font-weight: normal;
        font-size: 100%;
        padding: 8px 16px;
        border-radius: 2px;
        color: black;
      }
    }

    &:hover {
      background: lighten($natus-black, 10);
    }
  }

  :global(.nav li.active > a) {
    background: lighten($natus-black, 25)!important;

    &:hover {
      background: lighten($natus-black, 25);
    }
  }

  :global(.dropdown-menu li.active a) {
    background: transparent;
  }

  :global(.dropdown-menu li a) {
    color: black!important;

    &:hover {
      background: darken(white, 10)!important;
    }
  }
}

.NavDivider {
  width: 1px;
  height: 35px;
  background: white;
  margin: 8px 15px 0 15px;

  a {
    display: none;
  }
}
