@import '~styles/colors';


@mixin generateButton($name, $color) {
  .btn-#{$name} {
    background: $color;
    border: $color;
    color: white;

    &:hover, &:active, &:focus {
      outline: 0!important;
      background: darken($color, 5)!important;
      border: darken($color, 5)!important;
      color: white!important;
    }
  }
}

:global {
  .btn {
    border-radius: 2px;
    border: 1px solid;
    font-size: 13px;
  }

  a:focus, a:active {
    outline: none!important;
  }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: none!important;
    background: transparent;
  }

  @include generateButton('black', $natus-black);
  @include generateButton('primary', $natus-blue);
  @include generateButton('success', $natus-green);
  @include generateButton('danger', $natus-red);
  @include generateButton('warning', $natus-yellow);

  .btn-warning {
    color: $natus-black!important;

    &:hover, &:active, &:focus {
      color: $natus-black!important;
    }
  }
}
